<% if @article.errors.any? %> <% @article.errors.full_message.each do |msg| %>
<h2>The following errors prevented the article from being saved</h2>
<ul>
  <li><%= msg %></li>
  <% end %>
</ul>
<% end %>
